
<div id="chart2" class="container">
  <div class="row">
    <div class="col-6">
      <svg id="map"></svg>
    </div>
    <div class="col-6">
      <div class="row">
        <div class="col-6">
            <svg id="map1"></svg>
        </div>
        <div class="col-6">
          <svg id="map2"></svg>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <svg id="map3"></svg>
        </div>
        <div class="col-6">
          <svg id="map4"></svg>
        </div>
      </div>
    </div>
  </div>
</div>
<div style="background-color:#e2fde2">
  <h4 class="mt-2">Findings</h4>
  <ul>
    <li>The cities which are farther away from downtown tend to have fewer collisions.</li>
    <li>Peak hours have more hourly accidents than other times and the evening peak has the most severe accident rate.</li>
  </ul>
</div>