
<h3 align="middle"><strong>Responsive Line Chart </strong> Traffic Collision</h3>
<p align="middle"> Click underlined header legend to hide/show a line.</p>
<p align="middle"> Click a data point to show its value; Reclick to hide its value.</p>
<div id="linechart"></div>
<div style="background-color:#E8FBFF">
  <h4 class="mt-2">Findings</h4>
  <ul>
    <li>The total amount of traffic collisions in Los Angeles is increasing each year.</li>
    <li>Although February has 2-3 days less than other months, the difference in the amount of collisions is definitely more than the length effect – it is always the month with the fewest accidents.</li>
    <li>Every March and October will have obviously more collisions than other months. The line chart also captures the sharp increase in amount from February to March every year.</li>
  </ul>
</div>