<div class="container text-center">
  <div class="btn-group btn-group-toggle" data-toggle="buttons">
    <label class="btn btn-secondary active" id="y1">
      <input type="radio" name="options" autocomplete="off" checked> 10-20
    </label>
    <label class="btn btn-secondary" id="y2">
      <input type="radio" name="options" autocomplete="off"> 21-30
    </label>
    <label class="btn btn-secondary" id="y3">
      <input type="radio" name="options" autocomplete="off"> 31-40
    </label>
    <label class="btn btn-secondary" id="y4">
      <input type="radio" name="options" autocomplete="off"> 41-50
    </label>
    <label class="btn btn-secondary" id="y5">
      <input type="radio" name="options" autocomplete="off"> 51-60
    </label>
    <label class="btn btn-secondary" id="y6">
      <input type="radio" name="options" autocomplete="off"> 61-70
    </label>
    <label class="btn btn-secondary" id="y7">
      <input type="radio" name="options" autocomplete="off"> 71-80
    </label>
    <label class="btn btn-secondary" id="y8">
      <input type="radio" name="options" autocomplete="off"> 81-90
    </label>
    <label class="btn btn-secondary" id="y9">
      <input type="radio" name="options" autocomplete="off"> 90+
    </label>
  </div>
  <div id="chart4">
    <svg id="age-gender-chart"> </svg>
    <div id="tooltip" class="hidden">
      <p id="tooltip_text">Total fertility rate</p>
    </div>
  </div>
</div>
<div style="background-color:lightgray">
  <h4 class="mt-2">Findings</h4>
  <ul>
    <li>Age group of 21-30 has significantly more chance of being collision victims than others. After 30, the chance of getting involved in collisions continuously drops.</li>
    <li>Male victims always involve more in traffic collisions than female victims do, regardless of age.</li>
  </ul>
</div>